<div id="noteDetails" class="form">
	<div class="row">
		<label class="col-xs-12"><%= chef_name %></label>
	</div>
	<div class="row">
		<label class="col-xs-12"><%= rating %></label>
	</div>
	<div class="row">
		<label class="col-xs-12">Reviews</label>
	</div>
	<div class="row">
			<% if(typeof feedback === 'undefined' || feedback.length == 0) { %>
				No feedback available for this chef.
			<% } else { %>
				<% _.each(feedback, function(model) { %>
					<div class="col-xs-6">
						<div class="review">
							<label class="row">
								<%= model.rating %>
							</label>
							<div class="row">
								<i>"<%= model.feedback %>"</i>
							</div>
						</div>
					</div>
				<% }); %>
			<% } %>
	</div>
	<div id="msg"></div>
</div>
