<div id="noteDetails" class="form">
	<div class="row">
		<label class="col-xs-4">Title</label>
		<input type="text" class="col-xs-8" <% if(typeof title!== 'undefined') { %> value="<%= title %>" <% } %> name="title" id="title"/>
	</div>
	<div class="row">
		<label class="col-xs-4">Description</label>
		<textarea class="col-xs-8" name="description" id="description"><% if(typeof description!== 'undefined') { %><%= description %><% } %></textarea>
	</div>
	<div class="row">
		<button type="submit" class="btn btn-primary" id="submit">Save</button>
		<button type="delete" class="btn btn-primary" id="delete">Delete</button>
	</div>
	<div id="msg"></div>
</div>
